div a {
  text-decoration: none;
  width: 100%;
  color: rgb(255, 255, 255);
}
div a:hover {
  text-decoration: none;
  color: rgb(238, 255, 0);
  font-size: medium;
}
.StyleNavbar:hover {
  border-radius: 20px;
  border: 1px solid white;
}
.background {
  position: relative;
  background-color: #3e3eb6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 4em;
}
/* .background div {
  margin: 3px 5px 0 3px;
} */
div > h5 {
  padding-left: 2.1em;
  padding-bottom: 1em;
  color: #f1f1f1;
}
/* Nut Login and Register */
.Login {
  color: #6260e6;
  /* flex-wrap: nowrap; */
  display: flex;
  margin: 1% 2%;
}
.Login > button {
  padding: 1.2rem 1rem;
  margin-right: 5%;
  width: 50%;
  line-height: 5px;
  border: #f1f1f1;
  /* text-align: center; */
  font-size: 1em;
  border-radius: 5px;
  background: #00aeff;
  /* float: left; */
  position: relative;
  bottom: 4em;
  left: 4em;
}
.Login > button:hover {
  background: #f56c6c;
  box-shadow: -5px 4px 3px #f56c6c7a;
  border-radius: 20px;
  transition: 0.5s;
}

/* Icon Navbar */
.Icon {
  color: #f1f1f1;
  font-size: 1em;
  padding-left: 4em;
  width: 100%;
  line-height: 1rem;
  text-align: center;
  display: flex;
  align-items: baseline;
}

.Icon > div {
  padding-left: 3.4em;
  width: 100%;
  /* margin-left: 1%; */
  text-align: center;
}
.Icon > div > div {
  padding: 0.1em;
  text-align: center;
}
.Icon > div > div > i {
  padding: 5%;
  margin-left: 1%;
}
.Register {
  padding: 1.1em 5.5em;
  color: #f1f1f1;
  text-align: start;
}
.Register h3 {
  padding-left: 0.7em;
  color: #f1f1f1;
  text-align: start;
}
.Register p {
  padding-left: 1.2em;
  color: #f1f1f1;
  text-align: start;
}
/* Thanh Tim Kiem */
.butt {
  position: absolute;
  right: 5.5%;
  top: 23.5vw;
}
/* DateRange */
.display {
  display: none;
}
.input {
  width: 26%;
  border-radius: 10px;
  padding-left: 2rem;
  border: 0px white;
  height: 3rem;
  /* line-height: normal; */
}
/* .input::after {
  width: 33.33%;
  border-radius: 10px;
  padding-left: 1em;
  border: 0px white;
  height: 3em;
  line-height: normal;
} */
.input:active,
:focus {
  border-style: hidden;
  outline: none; /* Ẩn vạch kẻ quanh input khi ấn*/
}
.Date {
  width: 50%;
}

@media (max-width: 668px) {
  .background {
    width: 100%;
    /* right: calc(100% - 100rem); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 4em;
  }
  .Login button {
    padding: 1em;
    margin: 4%;
    width: 50% !important;
    line-height: 5px;
    border: #f1f1f1;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    background-color: #e7e7e7;
    position: relative;
    bottom: 4em;
    left: 4em;
  }
  .Register {
    color: #f1f1f1;
    text-align: start;
  }
  .Register h3 {
    color: #f1f1f1;
    text-align: start;
  }
  .Register p {
    color: #f1f1f1;
    text-align: start;
  }
  /*
  .Login > button {
    width: 50% !important;
    line-height: 5px;
    border: #f1f1f1;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    background-color: #e7e7e7;
  } */
}

/* @keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
