.foot a {
  display: flex;
  flex-wrap: nowrap;
  margin: 0em;
  padding-left: 0.2em;
  padding-bottom: 1em;
  text-decoration: none;
  color: mediumblue;
  cursor: pointer;
}
.foot a:hover {
  text-decoration: none;
  color: rgb(243, 62, 62);
}
