.banner {
  color: lightcyan;
  position: relative;
}
.align {
  padding-left: 5rem;
}
.display {
  /* display: flex !important; */
  width: 100%;
  /* flex-wrap: wrap; */
  /* flex-flow: wrap; */
}
.display div {
  float: left;
  /* display: flex !important; */
  width: 30%;
  /* flex-wrap: wrap; */
  /* flex-flow: wrap; */
}
